.devcontainer
.git
node_modules
coverage
Dockerfile
Dockerfile.local
.DS_Store
.gitignore
README.md
public
.nycrc
pull-request-template.md
.env
apps/**/translations/**/default.json
LICENSE.md
CONTRIBUTING.md
.dockerignore
docker-compose.yml
.cache
.drone.yml
bin
kube
npm-debug.log
yarn-error.log
.npmrc
test
jest.config.json
jest.env.js
sonar-project.properties
hof-services-config
charts
